@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #f96237;
    --background-color: #ffffff;
    --text-color: #333333;
    --input-plh-color: #6b6b6b;
}

* {
    font-family: "Open Sans";
    box-sizing: border-box;
}

/* Light */
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* regular */

@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* medium */
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}
/* semibold */
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* bold */
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gabriela";
    src: url("/fonts/Gabriela-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

.owl-icon {
    display: block;
    width: 49px;
    height: 29px;
    margin: 0 auto;
    margin-top: 7px;
}

@media (max-width: 575px) {
    .owl-icon {
        width: 40px;
        height: 22px;
    }
}
/*
h2 {
    font-size: 36px;
    color: var(--text-color);
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--accent-color);
} */
